@font-face {
  font-family: 'freeroadregular';
  src: url('fonts/freeroad_regular-webfont.eot');
  src: url('fonts/freeroad_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/freeroad_regular-webfont.woff') format('woff'), url('fonts/freeroad_regular-webfont.ttf') format('truetype'), url('fonts/freeroad_regular-webfont.svg#freeroadregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'freeroadbold';
  src: url('fonts/freeroad_bold-webfont.eot');
  src: url('fonts/freeroad_bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/freeroad_bold-webfont.woff') format('woff'), url('fonts/freeroad_bold-webfont.ttf') format('truetype'), url('fonts/freeroad_bold-webfont.svg#freeroadbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'freeroadbold_italic';
  src: url('fonts/freeroad_bold_italic-webfont.eot');
  src: url('fonts/freeroad_bold_italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/freeroad_bold_italic-webfont.woff') format('woff'), url('fonts/freeroad_bold_italic-webfont.ttf') format('truetype'), url('fonts/freeroad_bold_italic-webfont.svg#freeroadbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'freeroaditalic';
  src: url('fonts/freeroad_italic-webfont.eot');
  src: url('fonts/freeroad_italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/freeroad_italic-webfont.woff') format('woff'), url('fonts/freeroad_italic-webfont.ttf') format('truetype'), url('fonts/freeroad_italic-webfont.svg#freeroaditalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
