/*
* Misc
*/
.disabled-div {
	opacity:0.5;
	background:url("../images/sqr_trans.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50) !important;
	background-color: #fff;
	margin-left: 5px;
	width:236px;
}

input[type='text'] {
	height:20px;
}

/*
* Header
*/
.header .service-client {
	text-align: left;
	width: 180px;
}
.header .chat {
	width: 100px;
}
.header .rapeler {
	width: 100px;
}

/*
* Navigation
*/
.navigation {
	height: 44px;
}

/*etape*/
.block-grid.etapes .state-active a {
	width: 170px !important;
	margin-left:-17px !important;
}
.block-grid.etapes .state2 a  {
	width:130px;
}
.block-grid.etapes .state2 a span,.etapes.block-grid .state3 a span,.etapes.block-grid .state4 a span {
	line-height:1em;
	margin-top:-3px;
}

.block-grid.etapes .state2 img,.block-grid.etapes .state3 img,.block-grid.etapes .state4 img {
	width:180px;
}
.etapes.block-grid .state3 a {
	width:120px;
}
/*
* Main-content
*/
.main-content .left-content {
	width: 720px !important;
}
body .main-content .right-content {
	width:220px !!important;
}

.left-etape-content h3 {
    height: 20px;
}

.frm-etape-tester.twelve{	
	width:678px;
}
.frm-etape-tester .misc-custom-3 { 
	margin-bottom:10px;
	float: left;
}
.frm-etape-tester .seven.columns {
	width:52.33%;
}

.left-etape-content .six {
	width:330px;
}
.frm-etape-tester .seven .row{
	width:380px;
}
.frm-etape-tester #ligne_prefix{ width: 50px;}
.frm-etape-tester #ligne_sufix{width: 150px;}
.frm-etape-tester .seven.columns .row .three{ width:60px;}
.frm-etape-tester .seven.columns .row .nine{margin-left: 10px;}
/*
* Main content - mon offre 1
*/
.services-mediaserv li {
	height: 49px;
}
/*
* Main content - mon offre 2
*/
.columns.internet,.columns.television,.columns.telephone,.columns.internet span,.columns.television span,.columns.telephone span,.left.trf {
	line-height:1.2 !important;
}
.columns.internet {
	width:121px;
}
.columns.television {
	width:100px;
}
.columns.telephone {
	width:121px;
}
.modem-sagem{
	width:688px !important;
}

/*
* Main content - mon offre 3
*/
.chaines-tv .eight { width:466px; }
.chaines-tv .four { width:232px; margin-left:10px;}

/*
* Footer
*/
.main-footer .columns {
	width:23%;
	padding-right: 0;
}

/*
* first page
*/
.frm-etape-tester #ligne{
	width:323px;
}

/*
* Sidebar
*/
.frm-etape-tester-block #ligne {
	width:177px !important;
}
.right-content .degroupage {
	width: 189px;
	margin-bottom:0;
}
.right-content h3 .right {
	margin-top:-16px;
}
.right-content .total {
	width:220px;
}
.right-content .parrainage {
	margin-bottom:0;
}
.parrain-section {
	padding-left:0;
	padding-right:0;
}
.right-content .parrain-section input[type='text'] {
	width:164px;
}
.right-content .modem-deco {
	width:220px;
}

/*
* Page TV
*/
.row.chaines-tv > .column.eight {
	width:455px;
}
.row.chaines-tv > .column.four {
	width:211px;
}
#filter .columns.five{ width:73px; }
#filter .columns.seven{ width:120px; }
.accordion .four.bouquet { width: 235px; }
.accordion .eight.chaines { width: 443px; }
.accordion .eight.chaines .ultra{ width: 463px !important; }

/*
* Page mes coordonnées
*/
#email_mediaserv { width: 320px; }
.postfix { width:160px; }
.row form .row .columns { padding-right: 15px; }
input.code_postal{ width: 144px; }
input.telephone { width:144px; }

/*
* Page paiement
*/
.row.prelevement > .column.twelve,
.section-automatique > .row > .twelve {
	width: 720px; 
}
.section-automatique input { padding-left:0;padding-right:0;}
.section-automatique input#domiciliation { width:500px; }
.section-automatique .column.two { width:96px; }
.section-automatique .column.three { width:150px; }
.section-automatique .column.four { width:232px; }
.section-automatique .column.five { width:293px; }

.section-carte-bancaire .column.three { width:150px;}
.section-carte-bancaire #numerodecarte { width:400px;}
.prelevement .automatique.box-shadow,.prelevement .cartebancaire.box-shadow { border:2px solid #AEAEAE; }
.prelevement .automatique,.prelevement .cartebancaire { padding-bottom: 0;}
.prelevement .automatique .three,.prelevement .cartebancaire .three{ width: 90px; }
.prelevement .automatique .nine,.prelevement .cartebancaire .nine{ width:329px; }

.modem-deco li strong .right,.caution-deco li strong .right,.mfacturation li strong .right { float: right;margin-top: -20px;}
.forpro h3 {
	margin-top:0;
	margin-bottom:0;
}

/*
* Page mes coordonnées
*/

#mes-coordonnees .columns.two { width:94px;}
#mes-coordonnees .columns.four { width:210px;}
#mes-coordonnees .civilite-row{ margin-bottom: 10px;}
input#email-contact { width:315px;}

/*
* Parrainage
*/
.parrainage-accepte{ width: 162px !important;}

/*
* PDF LINK
*/
.pdf-links{
	float:left;
	width: 100% !important;
}

.custom-combobox-input { float: left; width: 170px !important; }
a.custom-combobox-toggle { height: 32px !important; margin-top:-2px;}